@namespace Tchivs.Abp.UI.Layouts
@using Microsoft.Extensions.Options
@inject IOptions<AbpRouterOptions> RouterOptions
@inherits LayoutComponentBase
@inject IToolbarManager _toolbarManager

@if (this.CurrentUser.IsAuthenticated)
{
    <Layout SideWidth="0" IsPage="true" IsFullSide="true" IsFixedHeader="true"
        AdditionalAssemblies=RouterOptions.Value.AdditionalAssemblies
        ShowFooter="@ShowFooter()" ShowGotoTop="true" ShowCollapseBar="true" Menus="@MenuItems"
        OnAuthorizing="@OnAuthorizing" OnErrorHandleAsync="OnErrorHandleAsync"
        UseTabSet="true" TabDefaultUrl="@TabDefaultUrl" OnUpdateAsync="OnUpdateAsync">
        <Header>
            @*  <Logout ImageUrl="@Icon" DisplayName="@Context.DisplayName" UserName="@UserName">
                <LinkTemplate>
                <a href="/Admin/Profiles"><i class="fa fa-suitcase"></i>个人中心</a>
                <a href="/Admin/Index"><i class="fa fa-cog"></i>设置</a>
                <a href="/Admin/Notifications"><i class="fa fa-bell"></i>通知<span id="logoutNoti" class="badge badge-pill badge-success"></span></a>
                <LogoutLink />
                </LinkTemplate>
                </Logout>*@
 <div class="container-fluid">
                <nav class="navbar navbar-expand navbar-dark flex-column justify-content-between flex-md-row bd-navbar">
                    <div>
                                   <span class="ms-3 flex-fill">@BrandingProvider.AppName</span>

                    </div>
                    <div>
                        <ul class="navbar-nav ml-md-auto">
                            @foreach (var render in LeftToolbarItemRenders)
                            {
                                @render
                            }
                        </ul>
                        <ul class="navbar-nav ml-md-auto" style="align-items: center;">
                            @foreach (var render in RightToolbarItemRenders)
                            {
                                @render
                            }
                            <li class="nav-item">
                                <div class="layout-drawer" @onclick="DrawerSwitch">
                                    <i class="fa fa-gears"></i>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </Header>
        <Side>
            <div class="layout-banner">
                @if (!string.IsNullOrEmpty(BrandingProvider.LogoUrl))
                {
                    <img class="layout-logo" src="@BrandingProvider.LogoUrl" />
                }
                <div class="layout-title">
                    <span>@BrandingProvider.AppName</span>
                </div>
            </div>
            @if (CurrentUser.IsAuthenticated)
            {
                <div class="layout-user">
                    @*<img class="layout-avatar" src="@CurrentUser">*@
                    <div class="layout-title">
                        <span>@CurrentUser.UserName</span>
                    </div>
                    <div class="layout-user-state"></div>
                </div>
            }
        </Side>
        <Main>
            @Body
        </Main>
        <Footer>
            <div class="flex-fill text-center text-dark">@Footer</div>
        </Footer>
        <NotAuthorized>
            <Redirect Url="@Url" />
        </NotAuthorized>
    </Layout>
}
else
{
    @Body
}