@page "/tenant-management/tenants"
@attribute [Authorize(TenantManagementPermissions.Tenants.Default)]
@using Microsoft.AspNetCore.Authorization
@using Tchivs.Abp.FeatureManagement.Blazor.Components
@using Microsoft.AspNetCore.Components.Forms
@using Volo.Abp.AspNetCore.Components.Web
@*@inherits CrudTable<ITenantAppService, TenantDto, Guid, GetTenantsInput, TenantCreateDto, TenantUpdateDto>*@
@inherits AbpBootstrapBlazorComponent
<CrudTable TItem=TenantDto 
           TAppService=ITenantAppService
           TKey=Guid TGetListInput=GetTenantsInput
           TCreateInput=TenantCreateDto
           TUpdateInput=TenantUpdateDto
           AutoGenerateColumns="false"
           ConfirmDeleteContent=@L["TenantDeletionConfirmationMessage"]
           CreatePolicyName="@TenantManagementPermissions.Tenants.Create"
           UpdatePolicyName="@TenantManagementPermissions.Tenants.Update"
           DeletePolicyName="@TenantManagementPermissions.Tenants.Delete">
    <TableColumns>
        <TableColumn @bind-Field="@context.Name" Text="@L["TenantName"]" />
    </TableColumns>
    <CreateTemplate>
        <div class="col-12">
            <BootstrapInput @bind-Value="@context.Name" DisplayText=@L["TenantName"] maxlength="64"> </BootstrapInput>
        </div>
        <div class="col-12">
            <BootstrapInput @bind-Value="@context.AdminEmailAddress" type="email" DisplayText=@L["DisplayName:AdminEmailAddress"] maxlength="128"> </BootstrapInput>
        </div>
        <div class="col-12">
            <BootstrapInput @bind-Value="@context.AdminPassword" type="password" DisplayText=@L["DisplayName:AdminPassword"] maxlength="128"> </BootstrapInput>
        </div>
    </CreateTemplate>
    <UpdateTemplate>
        <div class="col-12">
            <BootstrapInput @bind-Value="@context.Name" DisplayText=@L["TenantName"] maxlength="64"> </BootstrapInput>
        </div>
    </UpdateTemplate>
    <RowButtonTemplate>
        @if (this.HasManageFeaturesPermission)
                {
        <Button Size="Size.ExtraSmall"
        OnClick="@ClickManageFeaturesCallback(context)" Color="Color.Secondary" Icon="fa fa-cog" 
        Text="@L["Permission:ManageFeatures"]" />
                }
    </RowButtonTemplate>
</CrudTable>
<FeatureManagementModal @ref=featureManagementModal></FeatureManagementModal>